<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378300982241-3v560hskcaordd8q8bhc3u58j0tvi01p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378300982241-3v560hskcaordd8q8bhc3u58j0tvi01p</string>
	<key>API_KEY</key>
	<string>AIzaSyC8WSYquuWW8CNU0XiAV4RUFGR_gpdxBVk</string>
	<key>GCM_SENDER_ID</key>
	<string>378300982241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sm3ly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sm3ly-2377d</string>
	<key>STORAGE_BUCKET</key>
	<string>sm3ly-2377d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378300982241:ios:f75f663a5ff83a6a8928a0</string>
</dict>
</plist>